body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #F7E2D6;
}

#projects {
  background-color: #DFBB9D;
}

footer {
  background-color: #9DD6DF;
}

section {
  padding-top: 5rem;
}

html {
  scroll-behavior: smooth;
}

.container .projects {
  margin-top: -150px;
}

.art {
    margin-bottom: 100px;
}