body {
  min-height: 2000px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #a3d8f4;
}

#projects {
  background-color: #9ab3f5;
}

footer {
  background-color: #7579e7;
}

section {
  padding-top: 5rem;
}

html {
  scroll-behavior: smooth;
}
